[submodule "strong_sort/deep/reid"]
	path = strong_sort/deep/reid
	url = https://github.com/KaiyangZhou/deep-person-reid
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/Yanghojun/Sub_Yolov5.git